.Header{
    position: fixed; 
    width: 100%;     
    z-index: 1000;   
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background: var(--gray-ligth);
}


.btnLogout { 
    display: flex;
    justify-content: center; 
    align-items: center;
    color: var(--blue-dark);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.08rem;
    gap: 5px; 
}

.btnLogout img {
    height: 30px; 
    width: auto;
}

