/* body {
    background-color: var(--gray-ligth);
    height: 100vh;
} */

p {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: var(--blue-dark);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.LogoEmbarque {
    margin-top: 45px;
    width: 156px;
}

.LogoPorto {
    margin-top: 112px;
    width: 316px;
}

.LogoEmbarque,
.LogoPorto {
    transition: all 0.3s ease-in;
}

input {
    width: 190px;
    height: 27px;
    border-radius: 2px;
    border: 0.5px solid var(--blue-dark);
    color: var(--blue-dark);
    padding: 7px;
}

input:focus {
    outline: 2px solid var(--blue-light);
    border: none;
}

input::placeholder {
    color: var(--blue-dark);
}

.btnEntrar {
    border: none;
    margin-top: 7px;
    width: 190px;
    height: 27px;
    background: var(--blue-light);
    color: var(--white);
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.btnEntrar:hover {
    background: var(--blue-dark);
}

input,
.btnEntrar {
    transition: all 0.3s ease-in;
}

@media (max-width: 768px) {
    .LogoEmbarque {
        width: 130px;
    }

    .LogoPorto {
        width: 200px;
    }

    p {
        font-size: 1rem;
    }

    input,
    .btnEntrar {
        width: 150px;
    }
}