.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    transition: all 0.3s ease-in;
}

.cards h3,
.cards h4,
.cards h1,
.cards span{
    color: var(--blue-dark);
}

.cards span {
    width: 82px;
}

.card,
.cardHour,
.cardFreq,
.cardInfor,
.cardGraphic {
    transition: all 0.3s ease-in;
}

.card,
.cardHour,
.cardFreq,
.cardInfor {
    border-radius: 5px;
    width: 215px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0px 4px 10px var(--gray);
    height: 102px;
}

.card {
    background: var(--blue-transparent);
}

.cardHour {
    background: var(--purple-transparent);
}

.cardFreq {
    background: var(--orange-transparent);
}

.cardInfor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--blue-transparent);
    min-height: 325px;
    gap: 10px;
}

.cardInfor p {
    white-space: nowrap;
    font-size: 0.8rem;
    font-weight: 300;
}

.cardInfor span {
    font-weight: 300;
}

.gift p {
    white-space: wrap;
}

.buttonGift {
    width: 193px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: var(--blue-light);
    color: var(--white);
    box-shadow: 0px 4px 10px var(--gray);
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.buttonGift:hover {
    background: var(--blue-dark);
}

.cardGraphic {
    border-radius: 5px;
    width: 672px;
    height: 325px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0px 4px 10px var(--gray);
    background: var(--white);
}

@media (max-width: 768px) {
    .card,
    .cardHour,
    .cardFreq,
    .cardGraphic,
    .cardInfor {
        width: 335px;
    }

    .cardGraphic,
    .cardInfor {
        height: 325px;
    }
}